<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	 <nav>
				<div id = "nav">
					<ul>
						<li><a href="../index.html">Home</a></li>
						<li><a href="Academic.html">Academic Information</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="About.html">About me</a></li>
                        <li><a href="photo.html">Photo Galery</a></li>
				   </ul>
				</div>
      </nav>
    
    

    

      <div class="ab">
      	<h2>
            Hi I'm an undergraduate student of <u><a href="http://dept.ru.ac.bd/cse/" target="_blank" rel="nofollow">Computer Science &amp; Engineering(CSE)</a></u>Department in <a href="http://www.ru.ac.bd/" target="_blank" rel="nofollow"><u>Rashahi University (RU).</u><br></a> <br> I've learned C, C++,  
Database, HTML, CSS. I'm still learning and trying 
to design the number of projects.</h2>

      </div>
    
    

</body>
</html>