<!DOCTYPE html>
<html>
<head>
	<title>Academic Information</title>
	<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	<nav>
				<div id = "nav">
					<ul>
						<li><a href="../index.html">Home</a></li>
						<li><a href="Academic.html">Academic Information</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="About.html">About me</a></li>
                        <li><a href="photo.html">Photo Galery</a></li>
				   </ul>
				</div>
      </nav>

      <div class="table">
      	<h1>Academic Information</h1>
	      	<table id="t_content">
		      	<tr>
		      		<th>Name of Examination</th>
		      		<th>Passing Year</th>
		      		<th>Grade Point</th>
		      		<th>Board/University</th>
		      	 </tr>
		      	 <tr>
		      	 	<td><strong>S.S.C</strong></td>
		      	 	<td>2011</td>
		      	 	<td>GPA 5.00</td>
		      	 	<td>Jessore</td> 
		      	 </tr>

		      	 <tr>
		      	 	<td>H.S.C</td>
		      	 	<td>2013</td>
		      	 	<td>GPA 4.50</td>
		      	 	<td>Jessore</td>
		      	 </tr>

		      	 <tr>
		      	 	<td>B.Sc Eng.</td>
		      	 	<td>Undergraduate</td>
		      	 	<td>Running</td>
		      	 	<td>University of Rajshahi</td>
		      	 </tr>
	        </table>
      </div>




</body>
</html>