<!DOCTYPE html>
<html>
<head>
	<title>Photo Galery</title>
	<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	 <nav>
				<div id = "nav">
					<ul>
						<li><a href="../index.html">Home</a></li>
						<li><a href="Academic.html">Academic Information</a></li>
						<li><a href="Contact.html">Contact</a></li>
						<li><a href="About.html">About me</a></li>
						<li><a href="photo.html">Photo Galery</a></li>
				   </ul>
				</div>
			</nav>



    <div class="galery">
	        <center>
	        <img src="../images/background.jpg"  width="300" height="200">
	        <img src="../images/background1.jpg"  width="300" height="200">
	        <img src="../images/background2.jpg"  width="300" height="200">
	        <img src="../images/background3.jpg"  width="300" height="200">
	        <img src="../images/background4.jpg"  width="300" height="200">
	        <img src="../images/background5.jpg"  width="300" height="200">
            <img src="../images/background6.jpg"  width="300" height="200">
            <img src="../images/background.jpg"  width="300" height="200">
            <img src="../images/profile1.jpg"  width="300" height="300">
            <img src="../images/profile3.jpg"  width="300" height="300">
            <img src="../images/profile4.jpg"  width="300" height="300">
            <img src="../images/profile5.jpg"  width="300" height="300">
           

	      </center>
    </div>

</body>
</html>